<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:flashMessages />

    <f:variable name="modal-id">{data.uid}</f:variable>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{modal-id}">
        <f:format.raw>{data.tx_ucph_content_modals_button_label}</f:format.raw>
    </button>

    <div class="modal fade" id="modal-{modal-id}" tabindex="-1" aria-labelledby="label-{modal-id}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable {ucph_content_modal_width} {f:if(condition: '{ucph_content_modal_center} == 1', then: 'modal-dialog-centered')}">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="label-{modal-id}">
                        <f:if condition="{data.tx_ucph_content_modals_modal_title}">
                            <f:format.raw>{data.tx_ucph_content_modals_modal_title}</f:format.raw>
                        </f:if>
                    </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{f:translate(key: 'modal_close', extensionName: 'ucph_content_modals')}"></button>
                </div>
                <div class="modal-body">
                    <f:if condition="{data.bodytext}">
                        <f:format.raw>{data.bodytext}</f:format.raw>
                    </f:if>
                    <f:if condition="{image.0}">
                        <f:image image="{image.0}" class="img-fluid" treatIdAsReference="true"  />
                    </f:if>
                    <f:if condition="{records}">
                        <div class="modal-records">
                            <f:for each="{records}" as="record">
                                <f:format.raw>
                                    <f:cObject typoscriptObjectPath="tt_content" data="{record.data}" />
                                </f:format.raw>
                            </f:for>
                        </div>
                    </f:if>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{f:translate(key: 'modal_close', extensionName: 'ucph_content_modals')}</button>
                </div>
            </div>
        </div>
    </div>

    <f:if condition="{lib.ucph_content_modals.pagecss !== ''}">
        <f:asset.css identifier="modalCSS" href="{f:cObject(typoscriptObjectPath: 'lib.ucph_content_modals.pagecss')}" />
    </f:if>
    <f:if condition="{lib.ucph_content_modals.pagejs !== ''}">
        <f:asset.script identifier="modalJs" src="{f:cObject(typoscriptObjectPath: 'lib.ucph_content_modals.pagejs')}" />
    </f:if>
</f:section>

</html>